* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,
html {
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
	min-height: 100vh;
}
img {
    width: 100%;
    max-width: 100%;
    height: auto;
}
  .clearfix:after {
    content: '';
    display: table;
    clear: both;
  }

.header {
    background-color: #6d0079;
    color: white;
    padding: 10px;
    padding-top: 20px;
    text-align: center;
}
.logo__custom{
    height: 50%;
    width: 50%;
}       

.logo__custom:hover{
    transform: scale(1.5);
    transition: 0.3s;
}


.nav {
    background-color: #f8f9fa;

    margin-bottom: 20px;
}
.nav a {
    color: #343a40;
    text-decoration: none;
    margin-right: 20px;
    font-size: 18px;
    font-weight: bold;
}
.title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}
.textbox {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.textbox img {
    margin-right: 20px;
}
.textbox input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
.author {
    background-color: oldlace;
    padding: 20px;
    margin-bottom: 20px;
}
.image__fix{
    height: 50%;
    width: 50%;
}
.image__fix-extra{
    margin-left: 25%;
    height: 50%;
    width: 50%;
}

.video__custom{
    width: 520px;
    height: auto;
    margin: 0 auto;
    padding: 25px;
    margin-left: 25%;
}

.section{
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer__logo{
    width: 55px;
    height: 55px;
    padding: 5px;
}

.footer__background-color{
    background-color: #818589;
}
