.container__body{
    background: red;
    right: 0;
    top: 0;
    height:100%;
    width: 80%;
    position: absolute;
}
.container__aside{
    background: blue;
    left: 0;
    top: 0;
    height:100%;
    width: 20%;
    position: absolute;
}
.body{
    height: 100vh;
    overflow-y: hidden;
    margin: 0 auto;
}