.container__body{
    background: #fffaee;
    right: 0;
    top: 0;
    height:100%;
    width: 86.44%;
    position: absolute;  
    border-top-left-radius: 150px;
    z-index: 30;
}
.container__aside{
    left: 0;
    top: 0;
    height:100%;
    width: 20%;
    position: absolute;
}
.container__body-title{
    background: #11101d;
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: center;
    height: 40px;
    align-items: center; 
    font-size: 36px;
}
.body{
    height: 100vh;
    overflow-y: hidden;
}
.hack{
    width:100%;
    background: #11101d;
    height:40px;
}