.container__body{
    
    right: 0;
    top: 0;
    height:100%;
    width: 86.44%;
    position: absolute;  
    z-index: 30;
}

.container__aside{
    left: 0;
    top: 0;
    height:100%;
    width: 20%;
    position: absolute;
}

.container__body-title{
    background: #11101d;
    display: flex;
    position: fixed;
    width: 85%;
    justify-content: center;
    height: 50px;
    align-items: center; 
    font-size: 36px;
    z-index: 2;
}

.body{
    background: #fffaee;
    height: 100vh;
    overflow-y: hidden;
}

.hack{
    position: fixed;
    z-index: 1;
    width:100%;
    background: #11101d;
    height:50px;
}

.hack::before{
    content: "";
    position: absolute;
    top: 100%;
    left: 0.45%;
    height: 76%;
    width: 1.7%;
    border-top-left-radius: 50%;
    background: #fff;
    box-shadow: 0px -20px 0 0 #000000;
}
iframe{
    max-width: 900px !important;
}
.cp_embed_wrapper{
    display: flex !important;
    justify-content: center !important;
}
.specificity-table{
    max-width: 900px !important;
}